<div class='cover_page'>
	<div class="cover_photo">
		<%= image_tag "cover.jpg" %>
	</div>
	<div class="survey_title">
		尋找您的吉他聲音
	</div>
	<div class="description">
		<p>『最近想買一把吉他但是又不知道該從何下手．．．』</p>
		<p>『聽說木頭的材質會影響到彈奏的音色．．．』</p>
		<p>『什麼樣的衣服配什麼樣的人穿．．．吉他的音色也是一樣的道理．．．』</p>
	</div>
</div>
<div class="container">
	<ul class="questions">
		<li class="columns">
			<div class="letter">
				<span>1</span>
				<div class="arrow">
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="question">
				<span>您希望您最讓人印象深刻的是以下哪一種性格?</span>
			</div>
			<ul class="">
				<li class="choice">
					<div id="A1"class="aux"></div>
					<input type="hidden" name="Q1" value="A">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>A</span>
					</div>
					<div class="answer">適應力強</div>
				</li>
				<li class="choice">
					<div id="A2" class="aux"></div>
					<input type="hidden" name="Q1" value="B">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>B</span>
					</div>
					<div class="answer">活潑生動</div>
				</li>
				<li class="choice">
					<div id="A3" class="aux"></div>
					<input type="hidden" name="Q1" value="C">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>C</span>
					</div>
					<div class="answer">穩健</div>
				</li>
				<li class="choice">
					<div id="A4" class="aux"></div>
					<input type="hidden" name="Q1" value="D">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>D</span>
					</div>
					<div class="answer">善於分析</div>
				</li>
			</ul>
		</li>
		<li class="columns">
			<div class="letter">
				<span>2</span>
				<div class="arrow">
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="question">
				<span>如果今天您要創立一個遊戲角色，您會將他的外型設定為以下哪一種?</span>
			</div>
			<ul class="">
				<li class="choice">
					<div id="B1" class="aux"></div>
					<input type="hidden" name="Q1" value="A">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>A</span>
					</div>
					<div class="answer">亮眼大方</div>
				</li>
				<li class="choice">
					<div id="B2" class="aux"></div>
					<input type="hidden" name="Q1" value="B">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>B</span>
					</div>
					<div class="answer">沈穩內斂</div>
				</li>
				<li class="choice">
					<div id="B3" class="aux"></div>
					<input type="hidden" name="Q1" value="C">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>C</span>
					</div>
					<div class="answer">簡單自然</div>
				</li>
				<li class="choice">
					<div id="B4" class="aux"></div>
					<input type="hidden" name="Q1" value="D">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>D</span>
					</div>
					<div class="answer">狂野不拘</div>
				</li>
			</ul>
		</li>
		<li class="columns">
			<div class="letter">
				<span>3</span>
				<div class="arrow">
					<div class="arrow-right"></div>
				</div>
			</div>
			<div class="question">
				<span>您天您走進一家店，您最希望聽到的是哪一種類型的音樂?</span>
			</div>
			<ul class="">
				<li class="choice">
					<div id="C1" class="aux"></div>
					<input type="hidden" name="Q1" value="A">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>A</span>
					</div>
					<div class="answer">有情調的慵懶音樂</div>
				</li>
				<li class="choice">
					<div id="C2" class="aux"></div>
					<input type="hidden" name="Q1" value="B">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>B</span>
					</div>
					<div class="answer">時下的流行音樂</div>
				</li>
				<li class="choice">
					<div id="C3" class="aux"></div>
					<input type="hidden" name="Q1" value="C">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>C</span>
					</div>
					<div class="answer">嘶吼型搖滾樂</div>
				</li>
				<li class="choice">
					<div id="C4" class="aux"></div>
					<input type="hidden" name="Q1" value="D">
					<div class="chosen">
						<div class="chosen-wrapper"></div>
						<span>D</span>
					</div>
					<div class="answer">獨立創作樂團音樂</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="submit-wrap">
	<div class="progress">
		<div class="label">
			<span>已回答3個問題中的 0 題。</span>
		</div>
		<div class="bar">
			<div class="wrapper"></div>
			<div class="progress"></div>
		</div>
	</div>
	<div class="submit">
		<span>提交</span>
	</div>
</div>
<div class="footer">
	<div class="start-wrap">
		<div class="startSurvey">測驗開始囉</div>
	</div>
</div>
<div class="background"></div>
<div class="result-A">
	<div class="result-graph">
		<div id="A" class="">
			<%= image_tag "A_玫瑰木.png" %>
		</div>
		<div id="B" class="">
			<%= image_tag "B_夏威夷相思木.png" %>
		</div>
		<div id="C" class="">
			<%= image_tag "C_桃花心木.png" %>
		</div>
		<div id="D" class="">
			<%= image_tag "D_黑檀木.png" %>
		</div>
	</div>
	<div class="inform">
		<div class="contact">
			<div class="line">
				<a href="">
				<%= image_tag "LINE_icon01.png" %>
				</a>
			</div>
			<div class="mail">
				<a href="mailto:lubymusic@hotmail.com"><%= image_tag "mail_icon.png" %></a>
			</div>
			<div class="FB">
				<a href="https://www.facebook.com/lubysound"><%= image_tag "fb_icon.png" %></a>
			</div>
		</div>
		<div class="copyright">
			<span>以上結果僅供參考 </span><br>
			<span>歡迎至陸比音樂實體店面諮詢</span><br>
			<span>新竹縣竹北市科大一路116號	Tel：03-6575269</span>
		</div>
	</div> 
</div>